<launch>
    <node pkg="agrobot" type="log.py" name="log" output="screen"/>
    <node pkg="agrobot" type="setup.py" name="setup" output="screen"/>
    <node pkg="agrobot" type="priority_decider.py" name="priority_decider" output="screen"/>
    <node pkg="agrobot" type="relay.py" name="relay" output="screen"/>
    <node pkg="agrobot" type="control_robot.py" name="control_robot" output="screen"/>
    <node pkg="agrobot" type="control_mini_robot.py" name="control_mini_robot" output="screen"/>
</launch>
